In [1]:
import pandas as pd
#Inventory DataFrame
data = {
    "Location1": [100, 50, 300, 200, 80],
    "Location2": [200, 60, 400, 250, 90],
    "Location3": [150, 40, 350, 220, 70],
    "Location4": [300, 80, 500, 270, 100]
}
i = pd.DataFrame(data, index=["Product1", "Product2", "Product3", "Product4", "Product5"])

In [2]:
#1. Display the first two rows of the inventory DataFrame.
i.head(2)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80

In [3]:
#2. Get the total number of rows and columns in the DataFrame.
i.shape

(5, 4)

In [4]:
#3. List the column names and row indices.
i.columns.tolist()

['Location1', 'Location2', 'Location3', 'Location4']

In [5]:
i.index.tolist()

['Product1', 'Product2', 'Product3', 'Product4', 'Product5']

In [6]:
#4. Display the data type of each column in the DataFrame.
i.dtypes

Location1    int64
Location2    int64
Location3    int64
Location4    int64
dtype: object

In [7]:
#5. Check if there are any missing values in the DataFrame.
i.isnull().sum()

Location1    0
Location2    0
Location3    0
Location4    0
dtype: int64

In [8]:
#6. Retrieve the stock levels for "Product3" across all locations.
a = i.loc["Product3"]
print(a)

Location1    300
Location2    400
Location3    350
Location4    500
Name: Product3, dtype: int64

In [9]:
#7. Retrieve the stock levels of "Product 1" and "Product4" for "Location1" and "Location3".
a = i.iloc[[0,3],[0,2]]
print(a)

          Location1  Location3
Product1        100        150
Product4        200        220

In [10]:
#8.  Slice the DataFrame to get the first 3 products and the first 2 locations.
a = i.iloc[0:3,0:4]
print(a)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80
Product3        300        400        350        500

In [11]:
#9. Retrieve the stock level of "Product5" at "Location3"
a

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80
Product3        300        400        350        500

In [13]:
#10. Extract the stock levels for "Location2" across all products.
a = i.iloc[:, 1]
print(a)

Product1    200
Product2     60
Product3    400
Product4    250
Product5     90
Name: Location2, dtype: int64